*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
body{
    overflow-x: hidden;   
}
.content{
    height: inherit;
}
.top{
    background-image:url('../assets/backgrounds/h_img.jpg') ;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    height: 130vh;
    
}
.logo{
    left: 616px;
    top: 230px;
    position: absolute;   
}
.welcome{
    text-align: center;
    color: white;
    position: absolute;
    top: 436px;
    left: 370px;
    
}
.one{
    position: absolute;
    top: -85px;
    left: 180px;
}    
.mouse-click{
    cursor: pointer;
    margin-top: 115vh;
    
}